<!DOCTYPE html>
    <html lang = "en">
        <head>
            <title>Home</title>
            <link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        </head>
        <body>
            <div class="week-plan">
                <div class="box top">Header
                </div>
                <div class="box mon">
                    <div  class = "day">Monday</div>
                    <div class ="fields">
                        <p id ="monTitle">Recipe:</p>
                        <img src="{{ url_for('static', filename = 'ramen.jfif') }}" alt = "ramen">
                        <p id ="monTitle">Price:</p>
                        <p id ="monTitle">Time</p>
                    </div>
                </div>
                <div class="box tues">
                    <div  class = "day">Tuesday</div>
                    <div class ="fields">
                        <p>Recipe:</p>
                        <img src="{{ url_for('static', filename = 'ramen.jfif') }}" alt = "ramen">
                        <p>Price:</p>
                        <p>Time:</p>
                    </div>
                </div>
                <div class="box wed">
                    <div  class = "day">Wednesday</div>
                    <div class ="fields">
                        <p>Recipe:</p>
                        <img src="{{ url_for('static', filename = 'ramen.jfif') }}" alt = "ramen">
                        <p>Price:</p>
                        <p>Time:</p>
                    </div>
                </div>
                <div class="box thurs">
                    <div  class = "day">Thursday</div>
                    <div class ="fields">
                        <p>Recipe:</p>
                        <img src="{{ url_for('static', filename = 'ramen.jfif') }}" alt = "ramen">
                        <p>Price:</p>
                        <p>Time:</p>
                    </div>
                </div>
                <div class="box fri">
                    <div  class = "day">Friday</div>
                    <div class ="fields">
                        <p>Recipe:</p>
                        <img src="{{ url_for('static', filename = 'ramen.jfif') }}" alt = "ramen">
                        <p>Price:</p>
                        <p>Time:</p>
                    </div>
                </div>
                <div class="box sat">
                    <div  class = "day">Saturday</div>
                    <div class ="fields">
                        <p>Recipe:</p>
                        <img src="{{ url_for('static', filename = 'ramen.jfif') }}" alt = "ramen">
                        <p>Price:</p>
                        <p>Time:</p>
                    </div>
                </div>
                <div class="box sun">
                    <div  class = "day">Sunday</div>
                    <div class ="fields">
                        <p>Recipe:</p>
                        <img src="{{ url_for('static', filename = 'ramen.jfif') }}" alt = "ramen">
                        <p>Price:</p>
                        <p>Time:</p>
                    </div>
                </div>
                <div class="box total">Total
                </div>
                <div class="box bottom">Footer</div>     
            </div>

        </body>
    </html>
