<!DOCTYPE html>
    <html lang = "en">
        <head>
            <title>Home</title>
            <link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        </head>
        <body>
            <div class= "header">
                <p id="week-plan">Here's your weekly plan</p>
            </div>
            <div class = "wrapper">

{% for entry in table %}
    <div class="weekday">
        <div class="day">"{{entry[0]}}"
        </div>
        <div class="fields">
            <p id="monTitle">{{ entry[1][0] }}</p>
            <img src="{{ url_for('static', filename = '{{ entry[1][1] }}') }}" alt="ramen">
            <href src="{{ entry[1][2] }}">link</href>
            <p id="monPrice">{{ entry[1][5] }}</p>
            <p id="monTime">{{entry[1][3]}}</p>
            <input type="button" value="Different Recipe" onclick="">
        </div>
    </div>

{% endfor %}
</div>

                

            </div>
            <div class= "header">
                <p>Footer</p>
            </div>

        </body>
    </html>