<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Preferences</title>
        <link rel = "stylesheet" href="{{ url_for('static', filename='css/prefcss.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--<div id = "bg"><img src = "feast.jfif" alt =""></div>-->
        <h1>Bon-APP-etit</h1>
        <p>Tell us your preferences...</p>
        <div id = "tp">
            <form  id="f" action = "">
                <label for = "num">Weekly Budget:</label>
                <input type="number" name="num" id = "num" min = 7 max = 500><br>
                <br>
                <label for = "num">Serving:</label>
                <input type="number" name="num" id = "num" min = 1 max = 12><br>
                <br>
                <label for = "num">Prep Time:</label>
                <span><input type="number" name="num" id = "num" min = 10 max= 480>min</span><br>
                <br>
                <input type = "button" onclick ="location.href = 'home'" value ="Submit">
         </form>
    </body>
</html>

